@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mark Denysenko IP-61</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Lab 3</h2>
        <p>
            Для варіантів лабораторної роботи №1 написати класс Контроллера для забезпечення введення рядкових даних та перетворення їх у значення для методів моделі, Створити клас для відображення (View). За необхідності (якщо в класі з ЛР1 наявні лише get/set методи) написати шар Сервісу.
        </p>
    </div>
</div>